name: Build and Push to ECR

on:
  push:
    branches: [ "main" ]  # adjust as needed

concurrency:
  group: docker-build-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: >-
            arn:aws:iam::417107812602:role/care-activation-dev-ecr-rw-role
          aws-region: us-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker image
        working-directory: ./www
        run: |
          npm install
          IMAGE_TAG=commit-${GITHUB_SHA::8}
          REPO_URI=${{ steps.login-ecr.outputs.registry }}/care-activation

          echo "Building image: $REPO_URI:$IMAGE_TAG"
          docker build -t $REPO_URI:$IMAGE_TAG .
          docker push $REPO_URI:$IMAGE_TAG

          # Optional: also tag "latest" for convenience
          docker tag $REPO_URI:$IMAGE_TAG $REPO_URI:latest
          docker push $REPO_URI:latest
