name: Build and Push to ECR

on:
  push:
    branches:
      - main
#  release:
#    types: [published]

concurrency:
  group: docker-build-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build & Deploy Docker Image #to ECS
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./www

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::417107812602:role/care-activation-dev-ecr-rw-role
          role-session-name: gh-${{ github.repository_id }}-docker-build-${{ github.actor }}
          aws-region: us-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set Image Tags
        run: |
          export REPO_URI=${{ steps.login-ecr.outputs.registry }}/care-activation
          export COMMIT_TAG=sha-${GITHUB_SHA::8}
          export LATEST_TAG=latest
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            export VERSION_TAG=${GITHUB_REF#refs/tags/}
          fi
          echo "REPO_URI=$REPO_URI" >> $GITHUB_ENV
          echo "COMMIT_TAG=$COMMIT_TAG" >> $GITHUB_ENV
          echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV
          echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_ENV

      - name: Build Docker Image (with cache)
        run: |
          docker build \
            --tag $REPO_URI:$COMMIT_TAG \
            --cache-from $REPO_URI:latest \
            .

      - name: Push Docker Image
        run: |
          docker push $REPO_URI:$COMMIT_TAG
          docker tag $REPO_URI:$COMMIT_TAG $REPO_URI:$LATEST_TAG
          docker push $REPO_URI:$LATEST_TAG
          if [ ! -z "$VERSION_TAG" ]; then
            docker tag $REPO_URI:$COMMIT_TAG $REPO_URI:$VERSION_TAG
            docker push $REPO_URI:$VERSION_TAG
          fi
