name: Build and Push to ECR

on:
  push:
    branches:
      - main

concurrency:
  group: docker-build-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: >-
            ${{
              matrix.base-environments == 'prod' &&
              'arn:aws:iam::417107812602:role/care-activation-prod-terraform-ro-role' ||
              'arn:aws:iam::417107812602:role/care-activation-dev-terraform-ro-role'
            }}
          role-session-name: ${{ github.repository_id }}-${{ github.actor }}
          aws-region: us-west-2

      - name: Create AWS CLI profile
        run: |
          mkdir -p ~/.aws
          cat <<EOF > ~/.aws/credentials
          [${{ matrix.base-environments }}]
          aws_access_key_id=${AWS_ACCESS_KEY_ID}
          aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}
          aws_session_token=${AWS_SESSION_TOKEN}
          EOF

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker image
        working-directory: ./www
        run: |
          npm install
          IMAGE_TAG=commit-${GITHUB_SHA::8}
          REPO_URI=${{ steps.login-ecr.outputs.registry }}/care-activation

          echo "Building image: $REPO_URI:$IMAGE_TAG"
          docker build -t $REPO_URI:$IMAGE_TAG .
          docker push $REPO_URI:$IMAGE_TAG

          # Optional: also tag "latest" for convenience
          docker tag $REPO_URI:$IMAGE_TAG $REPO_URI:latest
          docker push $REPO_URI:latest
