name: Terraform Auto Apply Infra

on:
  workflow_dispatch:
    inputs:
      AWS_ENV:
        description: "Select Deployable AWS Environment Name"
        required: true
        type: choice
        options:
          - dev

concurrency:
  group: pr-tf-plan-${{ github.head_ref }}
  cancel-in-progress: false

permissions:
  contents: read
  id-token: write

jobs:
  terraform-auto-apply:
    name: Terraform Auto Apply
    runs-on: ubuntu-latest

    env:
      TF_IN_AUTOMATION: 1
      TF_VERSION: 1.11.4
      WORKING-DIRECTORY: infra/terraform/environment
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: >-
            ${{
              inputs.AWS_ENV == 'prod' &&
              'arn:aws:iam::417107812602:role/care-activation-prod-terraform-rw-role' ||
              'arn:aws:iam::417107812602:role/care-activation-dev-terraform-rw-role'
            }}
          role-session-name: ${{ github.repository_id }}-${{ github.actor }}
          aws-region: us-west-2

      - name: Create AWS CLI profile
        run: |
          mkdir -p ~/.aws
          cat <<EOF > ~/.aws/credentials
          [${{ inputs.AWS_ENV }}]
          aws_access_key_id=${AWS_ACCESS_KEY_ID}
          aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}
          aws_session_token=${AWS_SESSION_TOKEN}
          EOF

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        id: init
        working-directory: ${{ env.WORKING-DIRECTORY }}/${{ inputs.AWS_ENV }}
        run: |
          terraform init -input=false
          terraform workspace select ${{ inputs.AWS_ENV }}

      - name: terraform Apply
        id: plan
        working-directory: ${{ env.WORKING-DIRECTORY }}/${{ inputs.AWS_ENV }}
        run: terraform apply --auto-approve --var-file=${{ inputs.AWS_ENV }}.tfvars
